/*
 Theme Name: iFlow Pare Official Template
 Theme URI: http://www.iflow-pare.com/
 Description: This is the official template for iflow-pare.com
 Author: Taufik Fredi Pratama
 Author URI: http://taufikfredipratama.info
 Version: 1.3.4
 */

/*============================================================================================
 *  Global Styles
 ===========================================================================================*/

body {
	margin: 0;
	padding: 0;
	overflow: auto;
}

a, .comment-form .form-submit .submit, form.my-form input[type=submit], form#searchform input[type=submit], .btn-custom {
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

a:hover {
	text-decoration: none;
}

p {
	margin: 0 0 15px;
}

img {
	width: auto;
	height: auto;
}

/*============================================================================================
 *  Colors Theme
 ===========================================================================================*/
body, .single-post-content-wrapper, .commentlist footer {
	background: #ffffff;
	color: #525252;
}

a {
	color: #525252;
}

a:hover, h1, h2, h3, h4, h5, h6 {
	color: #000000;
}

/*============================================================================================
 *  Typography
 ===========================================================================================*/
body {
	font-size: 14px;
	line-height: 1.6em;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .tile-item .tile-btn, .category-list li a, .archive-post-read-more a {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	font-weight: 700;
	text-transform: uppercase;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

/* Navbar style */
nav.navbar-custom {
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

nav.navbar-custom .navbar-header .navbar-brand {
	padding: 15px 0 15px 30px;
	width: 100px;
	height: auto;
}

nav.navbar-custom .navbar-phone {
	width: 100%;
	text-align: right;
	font-size: 16px;
	font-weight: 700;
	padding: 15px 15px 10px 0;
}

nav.navbar-custom .navbar-nav {
	padding: 0 0 10px 0;
	float: right;
}

nav.navbar-custom .navbar-nav li a {
	padding: 10px 15px;
	font-size: 14px;
	color: #525252;
}

nav.navbar-custom .navbar-nav li a:hover {
	background: #000000;
	color: #ffffff;
}

nav.navbar-custom .navbar-nav .dropdown-menu li a {
	padding: 5px 15px;
	font-size: 14px;
	width: 100%;
}

/* Search Form */
.search-form-wrapper {
	background: #1e1e1e;
	width: 100% :
}

.search-form {
	padding: 30px 0;
}

.search-form i {
	top: 5px;
}

.search-form input {
	padding: 10px 15px;
	border: none;
}

.search-form input[type=text] {
	width: 89.5%;
}

.search-form input[type=submit] {
	width: 10%;
}

/* Breadcrumb style */
.breadcrumb-wrapper {
	background: #000000;
}

.my-breadcrumb {
	text-align: right;
	margin-bottom: 0;
	background: #000000;
	padding: 15px 0;
}

.my-breadcrumb, .my-breadcrumb a {
	color: #ffffff;
	font-style: italic;
}

.my-breadcrumb a:hover {
	border-bottom: 1px solid #ffffff;
}

.my-breadcrumb li {
	display: inline-block;
	padding: 0 3px;
}

.separator {
	font-style: normal;
}

.bread-current {
	font-weight: normal;
	margin-right: 15px;
}

/* Content style */
.first-row div[class^="col"], .second-row div[class^="col"] {
	padding: 2px 4px;
}

.tile-item {
	background-size: cover;
	padding: 35px;
}

.first-row .tile-item {
	height: 450px;
	margin-bottom: 2px;
}

.second-row .tile-item {
	height: 350px;
	margin-top: 2px;
}

.pull-bottom {
	position: absolute;
	left: 35px;
	right: 35px;
	bottom: 35px;
}

.tile-item a, .tile-item a:hover {
	color: #ffffff;
	text-decoration: none;
}

.tile-item .main-title {
	font-size: 60px;
	line-height: 1em;
	margin-bottom: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

.tile-item .basic-title {
	font-size: 30px;
	line-height: 1em;
	margin-bottom: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

.tile-item .tile-btn {
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	border: 1px solid #ffffff;
	font-weight: bold;
}

.tile-item .tile-btn:hover {
	background-color: rgba(255,255,255,0.25);
}

/* Archive Style */
.archive-post-featured-image, .archive-post-content {
	height: 500px;
	padding: 0;
}

.archive-post-featured-image {
	overflow: hidden;
}

.archive-post-featured-image img {
	width: 100%    :
	height: 100%;
}

.archive-post-content {
	padding: 35px;
}

.category-list {
	width: 100%;
}

.category-list li {
	display: inline-block;
}

.category-list li a {
	text-transform: uppercase;
}

.category-list-separator {
	padding: 0 20px;
}

.archive-post-data {
	font-size: 12px;
	font-style: italic;
	width: 100%;
	display: inline-block;
}

.archive-post-data li {
	margin: 0;
	padding: 0 5px;
	float: left;
}

.archive-post-data li:first-child {
	padding-left: 0;
}

.archive-post-read-more {
	margin-top: 35px;
}

/* Single Post Style */
.single-post-featured-image {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

.single-post-content-wrapper {
	margin: -200px 0 0;
}

.single-post-content {
	padding: 35px;
}

.single-post-content a {
	color: #2f318b;
	font-weight: 700;
}

.single-post-content a:hover {
	color: #2f318b;
	border-bottom: 1px solid #2f318b;
}

.single-post-author {
	border-right: 1px solid #000000;
	top: 80px;
	padding: 120px 35px 35px;
}

.single-post-author-avatar {
	text-align: right;
}

.single-post-author-description {
	margin: 35px 0;
	text-align: right;
}

.share-button {
	margin: 35px 0;
	text-align: right;
}

.share-link-list {
	margin: 20px 0;
}

.share-button a {
	padding: 15px 20px;
	color: #ffffff;
	background: #000000;
}

.share-button a i {
	margin: 0;
	padding: 0;
}

.single-post-content img {
	width: 100%;
	height: auto;
}

.single-post-title {
	margin-bottom: 10px;
}

.single-post-title-divider {
	height: 35px;
	width: 10%;
	display: inline-block;
	border-top: 1px solid #000000;
}

/* List Programs style */
.list-programs {
	width: 100%;
	padding: 0 0 20px;
	float: left;
}

.list-programs li {
	float: left;
	width: 33.33%;
}

#program-cats {
	border-top: 1px solid #000000;
}

#program-posts {
	margin-bottom: 0;
}

#program-posts li {
	padding: 2px 0;
}

#program-posts li a:hover {
	border-bottom: 1px solid #000000;
}

/* About page style */
.about-img {
	width: 105%;
	margin-left: -30px;
}

/* Comments Style */
.comments-area ol {
	list-style: none;
}

.comments-title {
	padding-left:40px;
}

.comment-body {
	padding: 20px;
	background: #fff;
	border: 1px solid #e3e3e3;
	margin-bottom: 20px;
}

.comment-body:last-child {
	margin-bottom: 35px;
}

.comment-meta {
	background: #fff;
	color: inherit;
}

.comment-meta:after {
	content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.comment-author.vcard .avatar {
	margin: 0 20px 20px 0;
	float: left;
}

.comment-author.vcard .says {
	display: none;
}

.comment-metadata {
	font-size: 12px;
}

.comment-metadata a,
.comment-metadata a:hover {
	color: inherit;
}

.comment-metadata a:hover {
	border-bottom: 1px solid #525252;
}

.comment-list .reply {
	text-align: right;
}

.comment-list .children {
	margin-left: 0 !important;
	padding-left: 35px;
}

.comment-list .children:before {
	content: "\f122";
	font-family: FontAwesome;
	float:left;
	display: inline-block;
	margin-left: -35px;
	width: 20px;
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

.comment-form p {
	margin-bottom: 10px;
}

.comment-form .logged-in-as {
	font-size: 12px;
}

.comment-form label,
.comment-form textarea,
.comment-form input[type=text],
.comment-form input[type=email] {
	width: 100%;
}

.comment-form textarea,
.comment-form input[type=text] {
	padding: 5px;
	border: 1px solid #bfbfbf;
}

.comment-form .form-submit .submit {
	font-size: 12px;
	padding: 10px 25px;
	border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-top: 10px;
}

.comment-form .form-submit .submit:hover {
    color: #ffffff;
    background:#000000;
}

.comment-form textarea,
.comment-form input[type=text],
.comment-form .form-submit .submit {
	-webkit-border-radius: 2px;
	-moz-border-radius:2px;
	border-radius: 2px;
}

.comment-form .comment-form-url {
	display: none;
}

.commentlist {
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
}

.commentlist article.comment {
	border: 1px solid #bfbfbf;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 10px;
	margin-bottom: 20px;
}

.commentlist .vcard img.avatar {
	width: 50px;
	height: 50px;
	float: left;
}

.commentlist .vcard cite.fn,
.commentlist .commentmetadata a {
	margin-left: 20px;
}

.commentlist .vcard cite.fn {
	text-transform:uppercase;
	font-size: 18px;
	font-style: normal;
}

.commentlist .vcard span.says {
	display: none;
}

.commentlist .comment-content {
	margin: 20px 0 0;
	padding: 1px;
}

.commentlist .reply {
	width: 100%;
	text-align: right;
}

.commentlist .children {
	list-style: none;
}

.commentlist footer a {
	color: #000000;
	text-decoration:none;
}

.commentlist footer a:hover {
	color: #000000;
	border-bottom: 1px solid #000000;
}

/* Pagination style */
.pagination {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.pagination .page-numbers {
	padding: 10px 15px;
	border: 1px solid #000000;
	color: #000000;
}

.pagination .current, .pagination .page-numbers:hover {
	background: #000000;
	color: #ffffff;
}

/* Widget style */
.widget-title {
	line-height: 1em;
	font-weight: 700;
	text-transform: uppercase;
}

#sidebar {
	text-align: right;
}

#sidebar ul {
	list-style: none;
}

#sidebar .widget-wrapper {
	margin-bottom: 35px;
}

/* Footer style */
footer {
	background: #000000;
	margin-top: 4px;
	color: #ffffff;
}

#footer-widget, .copyright {
	padding: 35px 0;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
	color: #ffffff;
	margin-bottom: 20px;
}

footer div.menu-main-container {
	margin-top: 20px;
}

footer ul {
	list-style: none;
	padding: 0;
}

footer a {
	color: #ffffff;
	font-size: 13px;
	font-weight:normal;
	padding-bottom: 3px;
}

footer a:hover {
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.copyright {
	width: 100%;
	text-align: center;
	border-top: 1px solid #ffffff;
}

.copyright-text {
	font-style: italic;
	margin: 35px 0 0;
	font-size: 12px;
}

.copyright-img:hover, .copyright-text a, .copyright-text a:hover {
	border: none;
	color: #ffffff;
}

/*============================================================================================
 *  Responsive Styles
 ===========================================================================================*/
/* Large Devices */
@media (min-width: 993px) and (max-width: 1200px) {
}

/* Medium Devices */
@media (min-width: 768px) and (max-width: 992px) {

	.search-form input[type=text] {
		width: 80%;
	}

	.search-form input[type=submit] {
		width: 19.5%;
	}

	.tile-item .main-title {
		font-size: 50px;
	}

	.archive-post-featured-image, .archive-post-content {
		height: auto;
	}

	.archive-post-featured-image img {
		width: 100%;
		height: auto;
	}

}

/* Small Devices */
@media (min-width: 481px) and (max-width: 767px) {

	.search-form input[type=text] {
		width: 80%;
	}

	.search-form input[type=submit] {
		width: 19.3%;
	}
	
	.navbar-toggle {
		margin-top: 25px;
	}

	nav.navbar-custom .navbar-phone {
		text-align: center;
	}

	nav.navbar-custom .navbar-nav {
		float:none;
		text-align: center;
	}

	.first-row .tile-item {
		height: 300px;
	}

	.tile-item .main-title, .tile-item .basic-title {
		font-size: 40px;
		text-align: center;
	}

	.tile-item .tile-btn {
		width: 100%;
		text-align: center;
	}

	.list-programs li {
		width: 50%;
	}

	.archive-post-featured-image, .archive-post-content {
		height: auto;
		margin-bottom: 35px;
	}

	.archive-post-featured-image img {
		width: 100%;
		height: auto;
	}

	footer .widget-wrapper {
		margin-bottom: 50px;
	}

	footer .widget-wrapper:last-child {
		margin-bottom: 0;
	}

}

/* Extra Small Devices */
@media only screen and (max-width: 480px) {

	.search-form input[type=text] {
		width: 100%;
	}

	.search-form input[type=submit] {
		display: none;
	}
	
	.navbar-toggle {
		margin-top: 25px;
	}

	nav.navbar-custom .navbar-phone {
		text-align: center;
	}

	nav.navbar-custom .navbar-nav {
		float:none;
		text-align: center;
	}

	.tile-item .main-title, .tile-item .basic-title {
		font-size: 30px;
		text-align: center;
	}

	.first-row .tile-item, .second-row .tile-item {
		height: 300px;
	}

	.tile-item .tile-btn {
		width: 100%;
		text-align: center;
	}

	.list-programs li {
		width: 100%;
	}

	.archive-post-featured-image, .archive-post-content {
		height: auto;
		margin-bottom: 35px;
	}

	.archive-post-featured-image img {
		width: 100%;
		height: auto;
	}

	h1.single-post-title {
		font-size: 30px;
	}

	footer .widget-wrapper {
		margin-bottom: 50px;
	}

	footer .widget-wrapper:last-child {
		margin-bottom: 0;
	}

}